.centered-buttons{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.right-button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto 0;
	font-family:Comic Sans MS, cursive, sans-serif;
    font-weight:200;
    font-size:120px;
    opacity:1;
    border:4px double black;
    background-image:linear-gradient(#b3b8ca 0%, #b3b8ca 100%);
    cursor: pointer;
}
.button{
	display: inline-block;
	padding: 10px 20px;
	margin: 5px;
	cursor: pointer;
}